h1 {
  text-align: center;
  color: white;
}

body {
  background-image: url(../Images/psychic-readings-2.jpg);
  width: 100%;
}

h2,
p {
  color: white;
}

.container {
  border: solid black;
  padding: 10px;
}
